body {
	margin-top: 105px;
	background-color: #7B435B;
}
.navbar {
	box-shadow: 2px 2px 5px #3292A6;
	opacity: 0.9;
	background-color: #fff;
}
.text-primary {
	color:#bcf8ec!important;
}
.lead {
	color:#AED9E0;
}
.nav-item {
	font-size: 1.4rem;
	padding-right: 20px;
}
.carousel-item {
	height: 450px;
	color:#000000;
}
.carousel-image-1 {
	background: url("../images/showcase_img2.jpg");
	background-size:contain;
}
.carousel-image-2 {
	background: url("../images/showcase_img2.jpg");
	background-size:contain;
}
.carousel-image-3 {
	background: url("../images/showcase_img2.jpg");
	background-size:contain;
}
